//

@import "~bootstrap/scss/bootstrap";
@import 'header';
@import 'footer';
@import 'prodotti';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}
.upPart{
    background-color: #1c1c1c;
    width: 100%;


    .scritta{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
.botPart{
    height: 100px;
    background-color: #0282f9;
    display: flex;
}
.object{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a{
        text-decoration: none;
        color: white;
    }
    img{
        height: 50%;
    }
    .testomain{
        font-size: 11px;
        color: white;
        margin-left: 10px;
    }
}
.objects{
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
.bottone {
    text-align: center;
    height: 80px;
    margin-top: 20px;

    a{
        text-decoration: none;
        background-color: #0282f9;
        color: white;
        padding: 10px 30px;
    }
}
.jumbo{
    background-image: url(/images/jumbotron.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bottonejumbo{
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    left: 100px;

    a{
        text-decoration: none;
        background-color: #0282f9;
        color: white;
        padding: 10px 30px;
    }
}
.slides{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .slide{
    width: 14%;
    height: 200px;
    margin: 10px;
    cursor: pointer;
        h5, h6{
            color: rgba(255, 255, 255, 0.61);
        }
        img{
        width: 80%;

        }
        .hoveronly{
            display: none;
        }
        &:hover{
            .hoveronly {
                display: block;
            }
        }
}
}

